/* all page style */
:root {
    --primary-color: #fff;
    --background-color: #1E1B1A;
}
body {
    color: var(--primary-color);
    background-color:var(--background-color);
}
.title {
    color:var(--primary-color);
}
.subtitle {
    color:var(--primary-color);
}
.button {
    font-family: monospace;
}

/* starship information card style */
.card {
    max-width: 70%;
    margin: auto;
}

#starship-info p {
    padding: 0.5rem 1rem;
}

/* starship input form style */
.starship-form {
    max-width: 50%;
    margin: auto;
    border: ;
}
.input {
    font-family: monospace;
}
#starship-dropdown {
    font-family: monospace;
}

/* passenger information card style */
#name-starship p {
    padding: 0.5rem 1rem;
}

/* saved passenger table style */
.table {
    margin: auto;
}

/* footer style */
.footer {
    background-image: url("../images/mars_landscape_PIA05200_orig_edit.jpg");
    background-size: cover;
    background-position: center;
}

.footer-text {
    width: 35%;
    color: var(--primary-color);
}